html{
  background-color:rgb(1,173,78);
}
main{
  background-color:rgb(237,237,237);
  overflow:scroll;
  width:65%;
}


p{
  margin-top:5px;
  margin-bottom:10px;
  font-size:0.em;
  text-align:justify;
}

h1
{
  text-shadow:2px 2px 5px red;
}

